name: Manual Deploy - Netlify

on:
  workflow_dispatch:
    inputs:
      enable-netlify:  # Zmieniłem nazwę na zgodną z warunkiem if
        type: boolean
        description: Are you sure about deploying it?
        default: true

jobs:
  deploy-netlify:
    environment:
      name: 'Development'
    runs-on: ubuntu-latest

    steps:
      - name: Debug input value  # Dodany krok debugowania
        run: |
          echo "Input value: ${{ inputs.enable-netlify }}"
          echo "GITHUB_CONTEXT: ${{ toJson(github) }}"

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure node
        uses: ./.github/actions/setup-project

      - name: Run unit tests
        run: pnpm run test

      - name: Build app
        run: pnpm run build

      - name: Deploy to Netlify
        if: ${{ inputs.enable-netlify == true }}  # Teraz nazwa się zgadza
        uses: nwtgck/actions-netlify@v3.0
        with:
          publish-dir: './dist'
          production-branch: master
          github-token: ${{ secrets.GITHUB_TOKEN }}
          deploy-message: 'Deployed from GitHub Actions'
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}